<!-- START PAGE COVER -->
<!-- <div class="social-wrapper">
    <div class="social">
        <div class="jumbotron" data-pages="parallax" data-social="cover">
            <div class="cover-photo">
                <img alt="Cover photo" src="assets/img/header6.jpg" />
            </div>
            <div class="content-layer">
                <div class="inner full-height">
                  <div class="container-xs-height full-height">
                    <div class="col-xs-height col-middle text-left">
                      <div class="container text-center">
                        
                        <h1 class="m-t-5 abril text-white">
                          Food Talk Experiences
                        </h1>
                        <h2 class="sm-text-center abril text-white">Immersive Dining &amp; Cocktail Events</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div> -->
        
<div class="container-fluid container-fixed-lg">
  <div class="row">
    <div class="col-sm-12 p-t-30 text-center hidden-xs">
      <h2 class="text-center">Seeking a culinary adventure? Look no further.</h2>
      <p class="fs-15">Shaking up the traditional food &amp; drink space, Food Talk brings you a curated list of culinary experience by local hosts in the city.
      <br>
      Explore a new cuisine, learn how to cook, bake or even how to shake a cocktail or join an insightful and gluttonous food tour.</p>
      <br>
      <p class="fs-15">
        Book a spot and you’ll know it’s not just a great meal - it’s SO much more.
      </p>
    </div>
    <div class="col-xs-12 p-r-30 p-l-30 text-center visible-xs">
      <h2 class="text-center">
        Seeking a culinary adventure? Look no further.
      </h2>
      <p class="fs-15">Shaking up the traditional food &amp; drink space, Food Talk brings you a curated list of culinary experience by local hosts in the city.</p>
      <p class="fs-15">Book a spot to experience a new cuisine, learn a skill or hop aboard a food tour</p>
    </div>
  </div>
 <div class="row">
     <div class="col-sm-12 p-t-30">
         <div class="col-lg-3 col-md-3 col-sm-4 m-b-20" ng-repeat="item in eventList">
             <div class="card share share-other">
                <div class="card-content">
                    
                    <span class="pull-right event-Tag">{{item.tag}}</span>
                    <img alt="Person photo" ng-src="{{item.cover_image}}" style="width: 100%; border-top-right-radius: 3px; border-top-left-radius: 3px;">
                </div>
                <div class="card-description">
                    <h5 class="bold m-b-10 long-Text">{{item.title}}</h5>
                </div>
                <div class="card-footer clearfix" style="cursor: default;">
                    <p>
                        <i class="pg-clock m-r-10"></i> <span><date-sorter start="{{item.start_time}}" end="{{item.end_time}}"></date-sorter></span>
                    </p>
                    <p class="long-Text">
                        <i class="pg-map m-r-10"></i> <span>{{item.address}}</span>
                    </p>
                    <p>
                        <i class="pg-credit_card m-r-10"></i> <span>{{item.cost}}/person</span>
                    </p>
                </div>
                <div class="button-area clearfix">
                    <button class="full-btn btn {{item.avilable_seats == '0' ? 'btn-danger' : 'btn-success'}}" ng-click="openDetails(item.id);">{{item.avilable_seats == '0' ? 'Sold Out' : 'View Details'}}</button>
                </div>
            </div>
         </div>
     </div>
     <div class="col-sm-12 text-center m-t-20 m-b-20">
         <button class="btn btn-default {{next_Page == '' ? 'hidden' : '' }}" ng-click="nextPage(next_Page)" >Load More</button>
     </div>
 </div>
</div>