<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg">
 <div class="row">
     <div class="col-sm-12 p-t-30">
         <div class="col-lg-3 col-md-3 col-sm-4 m-b-20" ng-repeat="item in eventList">
             <div class="card share share-other">
                <div class="card-content">
                    
                    <span class="pull-right event-Tag">{{item.tag}}</span>
                    <img alt="Person photo" ng-src="{{item.cover_image}}" style="width: 100%; border-top-right-radius: 3px; border-top-left-radius: 3px;">
                </div>
                <div class="card-description">
                    <h5 class="bold m-b-10 long-Text">{{item.title}}</h5>
                </div>
                <div class="card-footer clearfix" style="cursor: default;">
                    <p>
                        <i class="pg-clock m-r-10"></i> <span><date-sorter start="{{item.start_time}}" end="{{item.end_time}}"></date-sorter></span>
                    </p>
                    <p class="long-Text">
                        <i class="pg-map m-r-10"></i> <span>{{item.address}}</span>
                    </p>
                    <p>
                        <i class="pg-credit_card m-r-10"></i> <span>{{item.cost}}/person</span>
                    </p>
                </div>
                <div class="button-area clearfix">
                    <button class="full-btn btn {{item.avilable_seats == '0' ? 'btn-danger' : 'btn-success'}}" ng-click="openDetails(item.id);">{{item.avilable_seats == '0' ? 'Sold Out' : 'View Details'}}</button>
                </div>
            </div>
         </div>
     </div>
     <div class="col-sm-12 text-center m-t-20 m-b-20">
         <button class="btn btn-default {{next_Page == '' ? 'hidden' : '' }}" ng-click="nextPage(next_Page)" >Load More</button>
     </div>
 </div>
</div>